.start-header {
  transform: translateY(0);
  padding: 22px 0 13px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on {
  padding: 0.625rem 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
  height: 1.5rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.px-240 {
  padding: 0 15rem !important;
}

.menu-height {
  max-height: max-content !important;
}

.navbar {
  padding: 0;
}

.navbar-brand img {
  width: auto;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  width: 1.5rem;
  height: 1.0625rem;
  background-image: none;
  position: relative;
  border-bottom: 0.0625rem solid #000;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 1.5rem;
  position: absolute;
  height: 0.0625rem;
  background-color: #000;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
  top: 0.5rem;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(0.5rem) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.nav-link {
  color: #212121 !important;
  font-weight: 500;
  transition: all 200ms linear;
}

.nav-item:hover .nav-link {
  color: #8167a9 !important;
}

.nav-item.active .nav-link {
  color: #777 !important;
}

.nav-link {
  position: relative;
  padding: 0.3125rem 0 !important;
  display: inline-block;
}

.nav-item:after {
  position: absolute;
  bottom: 0.625rem !important;
  left: 0;
  width: 100%;
  height: 0.125rem;
  content: "";
  background-color: #635bff;
  opacity: 0;
  transition: all 200ms linear;
}

.nav-active:before {
  position: absolute;
  bottom: 0.625rem !important;
  left: 0;
  width: 100%;
  height: 0.125rem;
  content: "";
  background-color: #635bff;
  transition: all 200ms linear;
}

.nav-active .nav-link {
  color: #8167a9 !important;
}

.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}

.nav-item.active:hover:after {
  opacity: 0;
}

.navbar-nav li {
  margin-left: 50px;
  margin-top: 1px;
}

.mt-n4p {
  margin-top: -0.5625rem;
}

.log-btn {
  height: 52px;
  width: 156px;
  background-color: #635bff;
  color: white;
  text-decoration: none;
}

.log-btn:hover {
  color: white;
}

.reg-btn {
  height: 3.25rem;
  width: 9.75rem;
  border: 0.0625rem solid #403e5b;
  text-decoration: none;
  transition: 0.3s;
}

.reg-btn:hover {
  color: white;
  background-color: #635bff;
}

a {
  color: initial;
  text-decoration: none;
}

a:hover {
  color: initial;
  text-decoration: none;
}

.desktop-item {
  white-space: nowrap;
}

.desktop-item:hover .arrow-down {
  transform: scaleX(-1);
}

.arrow-down {
  width: 8px;
  height: 8px;
}

.custom-dropdown .rotate-icon {
  transition: transform 0.3s ease;
}

.custom-dropdown:hover .rotate-icon {
  transform: rotate(180deg);
}

.mega-links div a {
  padding: 0px;
  color: #212121;
  font-size: 16px;
}

.mega-links div a:hover {
  color: #8167a9;
}

.arrow-svg {
  width: 16px;
  height: 16px;
  visibility: hidden;
  opacity: 0;
}

.mega-links div a:hover .arrow-svg {
  opacity: 1;
  transition: all 0.5s ease;
  visibility: visible;
}

.mega-links {
  top: 55px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff !important;
  padding: 10px;
  border-radius: 6px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 99;
  box-shadow: 0px 8px 8px 0px rgba(24, 26, 32, 0.08);
  border: 1px solid #e8e7ea;
}

.mega-menu-card {
  border: 1px solid #e8e7ea;
}

.mega-menu-width {
  width: 380px !important;
}

.mega-menu-width-2 {
  width: 600px !important;
}

.coin-svg {
  width: 20px;
  height: 20px;
  margin-top: -4px;
}

.descriptions {
  font-size: 14px;
  color: #707a8a;
  text-align: left;
  line-height: normal;
}

.sidebar-scrollbar::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body.dark .descriptions {
  color: #adacac;
}

body.dark .mega-links {
  background: #2e2446 !important;
  border-color: #3f405b !important;
}

body.dark .mega-links div a {
  color: #d9d9d9;
}

body.dark .mega-links div a:hover {
  color: #f2f2f2;
}

html[dir="rtl"] .rtl-ms {
  margin-left: unset !important;
}

html[dir="rtl"] .mega-links {
  transform: translateX(-30%);
}

html[dir="rtl"] .descriptions {
  text-align: right;
}

@media (max-width: 768px) {
  .mega-menu-width {
    width: 100% !important;
    margin-left: 0;
  }

  .mega-menu-width-2 {
    width: 100% !important;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .mega-links {
    position: absolute;
    visibility: visible;
    opacity: 1;
    top: 50px;
    bottom: 0;
    left: -100%;
    overflow-y: auto;
    transition: left 0.3s ease;
    max-height: calc(100vh - 100px) !important;
    height: max-content !important;
    padding: 15px 10px;
  }

  .mega-links.open {
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }

  .mega-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10000;
    color: #fff;
    padding: 6px 10px;
    line-height: 1;
    font-size: 22px;
    font-weight: bold;
    border: none;
    background: black;
    cursor: pointer;
    width: 32px;
    height: 32px;
  }

  .mega-links {
    overflow: inherit;
  }

  .mega-scrollable-div {
    max-height: calc(100vh - 120px);
    height: max-content;
    overflow-y: auto;
    padding: 10px !important;
    scrollbar-width: none !important;
  }
}

@media screen and (max-width: 1451px) and (min-width: 1024px) {
  .mega-links {
    margin-top: 33px !important;
    line-height: 26px !important;
  }

  .menu-item .custom-link {
    line-height: 70px;
    margin-top: -35px;
  }

  .menu-item {
    line-height: 96px;
    margin-top: -32px !important;
  }
}


@media screen and (min-width: 1450px) {
  .mega-links {
    margin-top: 37px !important;
    line-height: 26px !important;
  }

  .menu-item .custom-link {
    line-height: 90px;
    margin-top: -35px;
  }

  .menu-item {
    line-height: 96px;
    margin-top: -29px !important;
  }
}

@media screen and (max-width: 1451px) and (min-width: 1024px) {
  .mega-links {
    margin-top: 33px !important;
    line-height: 26px !important;
  }

  .menu-item .custom-link {
    line-height: 70px;
    margin-top: -35px;
  }

  .menu-item {
    line-height: 96px;
    margin-top: -32px !important;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .menu-item .custom-link {
    line-height: 90px;
    margin-top: -35px;
  }
}

@media screen and (min-width: 1450px) {
  .mega-links {
    margin-top: 37px !important;
    line-height: 26px !important;
  }

  .menu-item .custom-link {
    line-height: 90px;
    margin-top: -35px;
  }

  .menu-item {
    line-height: 96px;
    margin-top: -29px !important;
  }
}

@media (min-width: 768px) {
  .nav-item {
    position: relative;
    transition: all 200ms linear;
  }

  .menu-item:hover .mega-links {
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .poster-img {
    width: 50%;
  }

  .navbar-brand img {
    width: 127px !important;
    height: 41px !important;
  }

  .nav-link {
    font-size: 12px !important;
  }

  .start-header {
    padding-top: 16px !important;
    padding-bottom: 8px !important;
  }

  .mt-93 {
    margin-top: 60px !important;
  }

  .mt-n4p {
    margin-top: -8px !important;
  }

  .pt-186 {
    padding-top: 122px;
  }

  .f-80 {
    font-size: 70px;
    line-height: 77.4px;
  }

  .f-70 {
    font-size: 56px;
    line-height: 78.4px;
  }

  .f-52 {
    font-size: 42px;
    line-height: 45.52px;
  }

  .navbar-nav li {
    margin-left: 23px !important;
    margin-top: -3px;
  }

  .log-btn {
    height: 37px;
    width: 83px;
    font-size: 12px;
  }

  .reg-btn {
    height: 37px;
    width: 83px;
    font-size: 12px;
  }

  .ml-60 {
    margin-left: 30px !important;
  }

  .px-240 {
    padding: 0 35px !important;
  }

  .ml-18 {
    margin-left: 11px;
    margin-top: 15px;
  }

  .navbar-brand img {
    width: 115px;
    height: 28.85px;
  }

  .start-header {
    transform: translateY(0);
    padding: 12px 0;
  }

  .mt-93 {
    margin-top: 63px !important;
  }

  .nav-item:after {
    background-color: unset !important;
  }

  .pt-186 {
    padding-top: 100px;
  }

  .f-80 {
    font-size: 70px;
    line-height: 77.4px;
  }

  .f-70 {
    font-size: 56px;
    line-height: 78.4px;
  }

  .f-52 {
    font-size: 42px;
    line-height: 45.52px;
  }

  .px-35 {
    padding: 0 35px;
  }

  .dot-img {
    display: none;
  }

  .dot-img-two {
    display: none;
  }

  .gray-shad .leading-30 {
    font-size: 14px;
  }

  .w-358 {
    width: auto !important;
  }

  .app-imgs {
    width: 130px;
  }

  .direction {
    flex-direction: column !important;
  }

  .direction .ml-3 {
    margin-left: unset !important;
    margin-top: 13px;
  }

  .virtual-card .f-21 {
    font-size: 16px !important;
    line-height: 26.52px !important;
  }

  .virtual-card .f-52 {
    font-size: 30px !important;
    line-height: 40.52px !important;
  }

  .virtual-card .f-48 {
    font-size: 35px !important;
    line-height: 45.52px !important;
  }

  .virtual-card .f-80 {
    font-size: 50px !important;
    line-height: 45.52px !important;
  }

  .virtual-card .f-22 {
    font-size: 16px !important;
    line-height: 20.52px !important;
  }

  .virtual-card .button-widths {
    margin-top: 10px !important;
    margin-bottom: 30px !important;
  }

  .poster-1 .f-48 {
    font-size: 32px;
    line-height: 46.52px;
    text-align: center;
    margin: 0px 40px;
  }

  .poster-1 .f-16 {
    text-align: center;
    padding-bottom: 60px !important;
  }

  .poster-1 .feature-card {
    display: none;
  }

  .spend-img {
    display: none;
  }

  .circle-img {
    width: 600px !important;
    margin: auto;
  }

  .pe-5rem {
    padding-right: unset !important;
  }

  .banner-2 {
    padding-bottom: 20px !important;
  }

  .mega-links {
    transform: translateX(-60%);
  }

  .mega-menu-width-2 {
    width: 550px !important;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 38px;
  }

  .nav-item:after {
    display: none;
  }

  .dropdown-toggle::after {
    position: absolute;
    display: block;
    top: 10px;
    left: -23px;
    width: 1px;
    height: 11px;
    content: "";
    border: none;
    background-color: #000;
    vertical-align: 0;
    transition: all 200ms linear;
  }

  .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
    opacity: 0;
  }

  .dropdown-menu {
    padding: 0 !important;
    background-color: transparent;
    box-shadow: none;
    transition: all 200ms linear;
  }

  .dropdown-toggle[aria-expanded="true"]+.dropdown-menu {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }

  body.dark .nav-item::before {
    background-color: #fff;
  }

  body.dark .dropdown-toggle::after {
    background-color: #fff;
  }

  body.dark .dropdown-menu {
    background-color: transparent;
    box-shadow: none;
  }
}

@media (max-width: 767px) {
  .px-240 {
    padding: 0 20px !important;
  }

  .nav-item {
    position: unset !important;
  }

  .nav-align {
    display: grid;
    justify-content: center;
    text-align: center;
    line-height: 33px;
  }

  .navbar-nav li {
    margin-left: 0;
  }

  .ml-60 {
    margin-left: 0px !important;
    margin-top: 20px;
  }

  .ml-18 {
    margin-left: 12px;
    margin-top: 20px;
  }

  .navbar-brand img {
    width: 115px;
    height: 28.85px;
  }

  .start-header {
    transform: translateY(0);
    padding: 12px 0;
  }

  .mt-93 {
    margin-top: 63px !important;
  }

  .log-btn {
    height: 43px !important;
    width: 130px !important;
    font-size: 13px !important;
  }

  .reg-btn {
    height: 43px !important;
    width: 130px !important;
    font-size: 13px !important;
  }

  .nav-link {
    font-size: 13px !important;
  }

  .f-36 {
    font-size: 24px !important;
    line-height: 34px !important;
  }

  .small-border {
    margin-top: 16px !important;
  }

  .mt-36 {
    margin-top: 24px !important;
    font-size: 18px !important;
    line-height: 28px !important;
  }

  .dot-img {
    display: none;
  }

  .dot-img-two {
    display: none;
  }

  .w-265 {
    width: 298px !important;
    margin-top: 14px;
    font-size: 14px;
    line-height: 24px;
  }

  .w-288 {
    width: 298px !important;
    margin-top: 14px;
    font-size: 14px;
    line-height: 24px;
  }

  .w-311 {
    width: 298px !important;
    margin-top: 14px;
    font-size: 14px;
    line-height: 24px;
  }

  .w-318 {
    width: 298px !important;
    margin-top: 14px;
    font-size: 14px;
    line-height: 24px;
  }

  .accordion-body {
    padding: 1.25rem 1.0625rem !important;
    font-size: 0.75rem !important;
    line-height: 1.375rem;
  }

  .mt-55 {
    margin-top: 15px;
  }

  .contain {
    padding: 0;
  }

  .ml-r11 {
    margin-left: 11px !important;
  }

  .align-center {
    justify-content: center;
    display: grid;
  }

  .footer-logo {
    margin: 0 auto;
    padding-top: 32px;
  }

  .txt-center {
    text-align: center;
  }

  .links {
    text-align: center;
  }

  .col-gap-12 {
    justify-content: center;
    column-gap: 11px;
    padding-bottom: 36px;
  }

  .facebook svg,
  .twitter svg,
  .instagram svg,
  .whtsapp svg,
  .pinterest svg,
  .linkdin svg {
    width: 37px;
    height: 100%;
  }

  .direction {
    justify-content: center;
  }

  .btn-footer {
    flex-direction: column !important;
  }

  .btn-footer p {
    font-size: 12px;
    line-height: 16.34px;
    text-align: center;
    font-family: gilroy-light;
  }

  .p-17-19 {
    padding: 15px 0px 15px 0;
  }

  .justify-center-res {
    justify-content: center;
    margin-top: 24px;
    margin-left: 27px;
  }

  .justify-center-res span {
    font-size: 12px;
    line-height: 16.34px !important;
  }

  .selectParent {
    font-size: 12px;
    line-height: 16.34px;
  }

  span.select2-selection__arrow {
    height: 13px !important;
    top: 1px !important;
    right: 28px !important;
  }

  .w-358 {
    width: 307px !important;
    font-size: 13px;
    line-height: 24px;
    margin-top: 18px;
  }

  .mt-r24 {
    margin-top: 24px;
  }

  .app-imgs {
    width: 147.02px;
    height: 42.53px;
  }

  .quick-res {
    margin-top: -13px;
    font-size: 16px;
    line-height: 21.79px;
  }

  .links {
    margin-top: -23px;
    font-size: 14px;
    line-height: 34px;
  }

  .sign-res {
    font-size: 16px;
    line-height: 21.79px;
    margin-top: 14px;
  }

  .more-link {
    margin-top: 16px;
  }

  .socials-res {
    font-size: 16px;
    line-height: 21.79px;
    margin-top: 30px;
  }

  #main #faq .accordion-item .accordion-header .btn-header-link.collapsed {
    font-size: 12px;
    line-height: 23px;
  }

  #main #faq .accordion-item .accordion-header .btn-header-link {
    display: flex;
    height: 54px;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    font-size: 0.8125rem !important;
  }

  .pt-121 {
    padding-top: 76px;
    padding-bottom: 39px;
  }

  .nav-active:before {
    background-color: unset !important;
  }

  .nav-active .nav-link {
    color: #8167a9 !important;
  }
}

@media (min-width: 1200px) and (max-width: 1437px) {
  .px-240 {
    padding: 0 70px !important;
  }

  .navbar-nav li {
    margin-left: 50px !important;
  }

  .navbar-brand img {
    width: 127px !important;
    height: 41px !important;
  }

  .log-btn {
    height: 43px !important;
    width: 130px !important;
    font-size: 13px !important;
  }

  .reg-btn {
    height: 43px !important;
    width: 130px !important;
    font-size: 13px !important;
  }

  .nav-link {
    font-size: 13px !important;
  }

  .start-header {
    padding-top: 16px !important;
    padding-bottom: 8px !important;
  }

  .mt-93 {
    margin-top: 60px !important;
  }

  .mt-n4p {
    margin-top: -8px !important;
  }

  .ml-60 {
    margin-left: 2.75rem !important;
  }

  .pt-186 {
    padding-top: 122px;
  }

  .bg-white.p-24-28 p {
    font-size: 15px !important;
  }

  .gray-shad .leading-30 {
    font-size: 15px;
  }

  .virtual-card .f-52 {
    font-size: 38px !important;
    line-height: 45.52px !important;
  }

  .virtual-card .f-48 {
    font-size: 44px !important;
    line-height: 45.52px !important;
  }

  .virtual-card .f-80 {
    font-size: 65px !important;
    line-height: 45.52px !important;
  }

  .virtual-card .f-22 {
    font-size: 20px !important;
    line-height: 25.52px !important;
  }

  .poster-1 .f-48 {
    font-size: 32px;
    line-height: 46.52px;
  }

  .banner-2 {
    padding-bottom: 50px !important;
  }
}